* {
    font-family: 'Space Mono', monospace;
}

.banner-text {
    font-size: 24px;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
}

.banner-image {
    /* Makes the image a bit darker color to make the titel easily read. */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("images/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg");
    /* Sets layout properties */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 0px 0px 24px 24px;
    height: 50%;
}

.home-layout {
    margin-top: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.contact-info {
    background: #C98F4A;
    padding: 12px;
    border-radius: 8px;
}

.home-layout h1 {
    text-align: left;
}

.menu-layout {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

th {
    font-weight: 900;
    text-decoration: underline;
    background-color: white;
}

footer {
    position: fixed;
    border-radius: 24px 24px 0px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #C98F4A;
}

p a {
    color: black;
}

p a:hover {
    color: grey;
}

h1 {
    margin: 24px;
    text-align: center;
}

form {
    display: inline;
}

form input {
    /* brown (picked from coffee in image) */
    background-color: #C98F4A;
    width: 100px;
    color: white;
    padding: 4px 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    margin: 24px;
}

form input:hover {
    /* light-brown (picked from coffee in image) */
    background-color: #c2a683;
}

table td img {
    border-radius: 8px;
    height: 80px;
    width: 240px;
    overflow: hidden;
    object-fit: cover;
    margin: 12px;
}

table td img:hover {
    position: relative;
    display: block;
    height: auto;
}

table {
    border: solid black;
    border-collapse: collapse;
    margin: 24px;
    font-size: 16px;
}

td {
    padding-inline: 20px;
}

tr:hover {
    background-color: #c2a683;
}